<main class="listado">
        <br>
        <h1>Aca te damos algunos tips pero recordá que lo más importante es adoptar con conciencia y con el corazón...</h1>

    

    <div >
        <br>
        <section>
            <h2 id="primerosDias">Primeros dias</h2>
            <p>¿Acaba de llegar una mascota a casa? Los primeros días en casa siempre son especiales y críticos para un animal (especialmente para aquellos que han estado en un refugio o han sufrido malas experiencias). Tu nuevo compañero puede llegar a sentirse confundido sobre dónde está o qué esperar de su nueva familia.</p>
            <p>
            <ul>
                <li>Tendrás que hacer una visita al veterinario para que le haga una revisión y comprobar que tu nuevo amigo está sano. Habrá que vacunarlo y desparasitarlo si es necesario.</li>
                <li>Cuando llegues a casa, dejá que el animal haga un recorrido por la casa para que olfatee y explore. Como te habíamos advertido, para tenerlo controlado por si se acerca a unas escaleras peligrosas o a algún sitio por el que pueda caer o escapar.</li>
                <li>Enseña a tu nuevo compañero dónde tiene sus cosas: su camita, sus comederos y la zona para hacer sus necesidades.</li>
                <li>Si ya tienes un perro o gato en casa tendrás que hacer la correspondiente presentación: 
                    <ul>
                        <li>En el caso de los perros es mejor hacerlo fuera de casa manteniendo las correas sueltas sin tensión, sin comida ni juguetes alrededor. Y no los dejes solos hasta que estés absolutamente seguro de que no hay posibilidad de conflicto.</li>
                        <li>En el caso de los gatos, la presentación tendrá que ser dentro de casa, dejándoles sus espacios y sus tiempos y evitar el contacto directo al principio. Los primeros encuentros deben ser breves y siempre bajo supervisión.</li> 
                    </ul> 
                </li>   
                
                
                
            </ul>  
            </p>
        </section>

    <section>
        <br>
    <section>
            <h2 id="castracion">Castración</h2> 
                <p>Cuando tu nuevo amigo llegue a tu hogar vas a tener que coordinar con tu veterinario el momento ideal para esterelizarlo.</p>
                <h5>¿Qué es la esterilización/castración?</h5>
                <p>La extracción quirúrgica de los ovarios y el útero de una hembra para evitar una embarazo o le eliminación de los testículos de los machos para impedir impregnar a las hembras.</p>
                <h5>¿Por qué castrar/esterilizar?</h5>
                <p>Castrar/esterilizar ayuda a los perros o gatos tener una vida más larga y sana, por eliminar o reducir las incidencias de un número de problemas de salud por los cuales pueda ser difícil y/o caro para tratar.
                Es mejor esterilizar su mascota antes de que entre en celo por primera vez.
                </p>
    </section>

        <section>
            <h2 id="alimentacion">Alimentación</h2>
                <h5>Empieza desde cachorro a alimentarlo bien:</h5>
                <p>Los cachorros son enérgicos, juguetones y un poco traviesos. Por ejemplo, los perros jovenes a lo largo del día queman el triple de calorías que los adultos, similar es el caso en gatos y roedores. Están en pleno crecimiento y desarrollo de sus músculos, huesos, pelaje, dientes... por lo que necesitan una alimentación que les aporte un gran número de proteínas, vitaminas, etc. Para que tu amigo no humano tenga una larga vida sana y feliz es esencial una buena alimentación desde cachorro. Asegurate de recibir el asesoramiento nutricional adecuado para elegir la mejor alimentación para tu cachorro.</p>
                <h5>Establece horarios y rutinas:</h5>
                <p>Es necesario seguir una rutina de alimentación uniforme y alimentar a nuestra mascota todos los días a la misma hora, teniendo siempre libre acceso al agua, ya que la hidratación es fundamental para el buen funcionamiento de sus órganos.</p>
                <h5>Elegi la alimentación específica para cada etapa de su vida:</h5>
                <p> Es necesario establecer unos hábitos alimenticios que se adecuen con su tamaño, metabolismo y vitalidad  ¡y sobre todo no le puede faltar nunca el agua!</p>
        </section>
    
    </div>   
    </main>

    <section>
        <div>
            <a href="index.html" id="button_volver">Volver al Inicio</a>
        </div>
    </section>