    <!-- main -->
    <main class="main ">
        <!-- img mirada -->
        <div class="mt-3">
        <img src="https://cdn.pixabay.com/photo/2017/04/11/15/55/animals-2222007_960_720.jpg" alt="Perritos"  class="imgMirada">

        </div>
        <!-- <h1>Adopcion de animalitos</h1> -->
        <section class="portada-Main mx-auto">
            <h2 >¿Por qué adoptar en vez de comprar?</h2>
            <p>
                Porque los animales no humanos no son cosas, son seres con capacidad de sentir, sufrir y disfrutar. Al adoptar, le estás dando una oportunidad de ser un integrante mas de la familia.
                Adoptar es un acto de amor y de responsabilidad, por eso es necesario estar completamente seguros de que estamos capacitados y listos para tener una mascota.
                Un animal de compañía dependerá toda su vida de nosotros. Recordá que los mas longevos pueden vivir hasta 20 años y estás asumiendo un compromiso serio por todo ese tiempo.    
            </p>
        </section>

</main>

<hr class="container">
<!-- carrousel boostrap -->
<div>   
    <section class="portada-Main mx-auto">
        <h3> Organizaciones encargadas del rescate de animales en Argentina:</h3>
    </section>
</div> 

<section class="container">
    <!--<h2> Organizaciones encargadas del rescate de animales en Argentina</h2>-->
    <div id="carouselExampleIndicators" class="carousel slide w-50 mx-auto " data-bs-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner ">
        <div class="carousel-item active ">
        <a href="https://www.elcampitorefugio.org" target="_blank"><img src="img/campito.jpg" class="carru-img " alt="..."></a>  
        </div>
        <div class="carousel-item">
            <a href="https://www.proyecto4patas.org/requisitos-adopcion/" target="_blank"><img src="img/4Patas.jpg" class="carru-img " alt="..."></a>
        </div>
        <div class="carousel-item">
            <a href="https://www.fundaciondegatitos.org.ar" target="_blank"><img src="img/fundacionGatitos.png" class="carru-img " alt="..."></a>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>

<section>
    <div>
        <a href="index.html" id="button_volver">Volver arriba</a>
    </div>
</section>